<div class="card  mb-3">
  <div class="row no-gutters">
    <div class="col-lg-6">
      <span class="img"><%= image_tag rule.image_url, size: '200x200' %></span>
    </div>
    <div class="col-lg-6">
      <div class="card-body">
        <p class="card-text"><%= rule.rule_content %></p> 
      </div>
    </div>
  </div>
</div>


