// Place all the styles related to the Plays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.index {
  list-style: none;
  padding: 0;
  //float: left;

  li {
    overflow: auto;
    padding: 10px, 0;
    //border-bottom: 1px solid $gray-lighter;
  }
  .img{
    float: left;
  }
  .content {
    margin-left: 10em;
    width: auto !important;
  }
  table{
    width: auto !important;
  }
}
img{
  max-width: 200px; 
  height:auto; 
}